<!-- VU + PALLETTE COULEUR + BOUTON SEND -->
<div class="container" data-ng-controller="sendController as sc" data-ng-swipe-left="envoyer(sc)" data-ng-swipe-right="recuperer(sc)">
		<div class="row">
			<div class="col-sm-5"> 
				<canvas class="slideright" id="drawing-canvas" width="480" height="420"></canvas>
					<button data-ng-click="sc.sendImage()">ENVOYER</button>
					<button data-ng-click="sc.getImage()">RECUPERER</button>
			</div>
			<div class="col-sm-2"></div>
			<div id="colorholder" class="col-sm-1"></div>
		</div>
</div>
