<div class="container text-center" data-ng-controller="sendController as sc">
	<div class="row">
		<canvas class="slideright" id="drawing-canvas-view" width="650" height="450"></canvas>
    </div>
       
    <div class="jcarousel-wrapper">
    	<div class="jcarousel">
			<ul>
				<li data-ng-repeat="P in sc.platforms" ng-if="P.id!='0'" class="platform">
					<div>
					<button ng-click="sc.changeDisplay(P.id)">
						<canvas id='drawing-canvas-{{P.id}}' width="120" height="105" ></canvas>
					</button>
					<div>
				</li>
			</ul>
		</div>
            
        <a href="#view" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
        <a href="#view" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
        <p class="jcarousel-pagination" data-jcarouselpagination="true"></p>
	</div>
</div>
