body {
  padding-top: 60px;
}

#drawing-canvas {
  border: 3px solid #999;
  background-size : cover; 
  /*background-image: url("../images/cirrus.jpg");*/
}

canvas {
  background-size : cover;
}

.colorbox {
  width: 22px;
  height: 22px;
  margin: 1px;
  border: 3px solid black;
}

img{
	width: 350px;
	height: 300px;
}
img.selected {
	border: 5px solid white;
}


